%ul
  - @products.each do |product|
    %li
      %h1= product.name
      %img{src: product.image}
      %span= "P #{product.price}.00 (#{product.stock_qty} servings available)"
      %p.ingredients= product.raw_materials.collect(&:name).join(', ')
