<div class="reports">
  <h1>Alerts</h1>
</div>

<ul>

  <li>
    <h3>
      <a href='/admin/raw_material'>Raw Materials</a>
      <a href='/admin/purchase_transaction/new' style="display: inline-block;"><img src='/assets/plus.png' width="15px"/></a>
    </h3>
    <% if @raw_materials.count == 0 %>
        <span style="color:green; font-weight: 100; padding-top: 8px;"><%= "No critical raw materials." %></span>
    <% end %>
    <table>
      <% @raw_materials.each do |raw_material| %>
          <tr>
              <td><%= raw_material.name %></td>
              <td><%= raw_material.stock_qty %></td>
              <td><a href='/admin/raw_material/<%= raw_material.id %>'><img src='/assets/lens.png'  width="20px"/></a></td>
          </tr>
      <% end %>
    </table>
  </li>
  <li>
    <h3>
      <a href='/admin/product'>Products</a>
      <a href='/admin/production/new' style="display: inline-block;"><img src='/assets/plus.png' width="15px"/></a>
    </h3>
    <% if @products.count == 0 %>
        <span style="color:green; font-weight: 100; padding-top: 8px;"><%= "No critical products." %></span>
    <% end %>
    <table>
      <% @products.each do |product| %>
          <tr>
              <td><%= product.name %></td>
              <td><%= product.stock_qty %></td>
              <td><a href='/admin/product/<%= product.id %>'><img src='/assets/lens.png'  width="20px"/></a></td>
          </tr>
      <% end %>
    </table>
  </li>
  <li>
    <h3>
      <a href='/admin/delivery'>Scheduled Deliveries</a>
      <a href='/admin/sale_transaction/new' style="display: inline-block;"><img src='/assets/plus.png' width="15px"/></a>
    </h3>
    <% if @deliveries.count == 0 %>
        <span style="color:green; font-weight: 100; padding-top: 8px;"><%= "No scheduled deliveries." %></span>
    <% end %>
    <table>
      <% @deliveries.each do |delivery| %>
          <tr>
              <td><%= delivery.delivery_date.strftime("%b %d") %></td>
              <td><%= delivery.sale_transaction.customer.name %></td>
              <td><a href='/admin/sale_transaction/<%= delivery.sale_transaction.id %>'><img src='/assets/lens.png' width="20px"/></a></td>
          </tr>
      <% end %>
    </table>
  </li>
</ul>
