<div class="reports">
  <h1>Reports</h1>
</div>

<ul>

  <li>
    <h3>Raw Material Inventory</h3>
    <table>
      <% @raw_materials.each do |raw_material| %>
          <tr>
              <td><%= raw_material.name %></td>
              <td><%= raw_material.stock_qty %></td>
              <td><a href='/admin/raw_material/<%= raw_material.id %>'><img src='/assets/lens.png'  width="20px"/></a></td>
          </tr>
      <% end %>
    </table>
  </li>
  <li>
    <h3>Product Inventory</h3>
    <table>
      <% @products.each do |product| %>
          <tr>
              <td><%= product.name %></td>
              <td><%= product.stock_qty %></td>
              <td><a href='/admin/product/<%= product.id %>'><img src='/assets/lens.png'  width="20px"/></a></td>
          </tr>
      <% end %>
    </table>
  </li>
  <li>
    <h3>Scheduled Deliveries</h3>
    <table>
      <% @deliveries.each do |delivery| %>
          <tr>
              <td><%= delivery.delivery_date.strftime("%b %d") %></td>
              <td><%= delivery.sale_transaction.customer.name %></td>
              <td><a href='/admin/sale_transaction/<%= delivery.sale_transaction.id %>'><img src='/assets/lens.png' width="20px"/></a></td>
          </tr>
      <% end %>
    </table>
  </li>
</ul>
