<!DOCTYPE html>
<html>
<head>
  <title>TeamGutom</title>
  <%= stylesheet_link_tag :style %>
  <%= javascript_include_tag :"jquery-1.5.2.min.js" %>
  <%= javascript_include_tag :"xeforo.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="page">
	<div id="header">
		<div>
			<a href="/"><img src="/assets/logo.gif" alt="Logo"></a>
		</div>
		<ul>
			<li class="current"><a href="/"><span>Home</span></a></li>
			<li><a href="/admin"><span>Admin</span></a></li>
		</ul>
	</div>
	<div id="body">
        <%= yield %>
    </div>
</div>
</body>
</html>
